@using System;
@using System.Collections.Generic;
@using weddingplanner.Models;
@model Wedding;

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/style.css"/>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 style="display:inline-block;">Plan Your Wedding</h1>
                </div>
                <div class="col-sm-2">
                    <a href="/Dashboard">Dashboard</a>
                </div>
                <div class="col-sm-2">
                    <a href="/logout">Log Out</a>
                </div>
            </div>
            <form asp-action="AddWeddingProcess" asp-controller="Wedding" method="post">
                <div class="row" style="margin-top:2%;">
                    <div class="col-sm-3">
                        <label asp-for="WedderOne">Wedder One</label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="WedderOne" class="form-control">
                    </div>
                </div>
                <div class="row" style="margin-top:2%;">
                    <div class="col-sm-3">
                        <label asp-for="WedderTwo">Wedder Two</label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="WedderTwo" class="form-control">
                    </div>
                </div>
                <div class="row" style="margin-top:2%;">
                    <div class="col-sm-3">
                        <label asp-for="Date">Date</label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="Date" class="form-control">
                    </div>
                </div>
                <div class="row" style="margin-top:2%;">
                    <div class="col-sm-3">
                        <label asp-for="WeddingAddress">Wedding Address</label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="WeddingAddress" class="form-control">
                    </div>
                </div>
                    <input type="hidden" asp-for="CreatorId" value="@ViewBag.CurrentUser">
                <div class="row">
                </div>
                <div class="row" style="margin-top:3%;">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"><button type="submit" class="btn-primary text-center">Create</button></div>
                </div>

                
            </form>
        </div>
    </body>
</html>